*{
	margin: 0;
	padding: 0;
	font-family: Poppins;
}

/* MAIN GRID (header - content - footer) */
#maingrid {
	display: grid;
	width: 100%;
	grid-template-areas: "head head"
						"cont cont"
						"foot foot";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

#maingrid > #header {
grid-area: head;
}

#maingrid > #content {
grid-area: cont;
}

#maingrid > #sidebar {
grid-area: side;
}

#maingrid > #footer {
grid-area: foot;
}

body {
   height: 100vh;
   background: #fff;
}

h1 {
	padding-top: 3%;
	text-align: center;
}

.map-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3%;
}

/*  */


  .dorm-grid .filters {
    grid-column: 1 / -1;
  }

  .dorm-grid #filters {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    justify-content: space-between;
  }

  .dorm-grid .filter-btn {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 2vw;
    padding-left: 2vw;
    margin: 0;
    border: none;
    text-align: start;
    background-color: #d9d9d9;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .dorm-grid .filter-btn:hover {
    opacity: 75%;
  }

  .dorm-grid .filter-btn i {
    color: #9f86c0;
  }
  
  .dorm-grid #apply {
    background-color: #9f86c0;
    color:#fff; 
  }

  .dorm-grid #clear {
    background-color: #d9d9d9;
    padding-left: 1%;
    padding-right: 1%;
  }

  .dorm-grid .dropdown {
    position: relative;
    display: inline-block;
  }

  .dorm-grid .dropdown-content {
    min-width: 180px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0px #000;
    z-index: 1;
    border-radius: 5px;
    padding: 5%;
  }

  input {
    accent-color: #9f86c0;
  }

  .dropdown-content p {
    padding: 2%;
    margin-bottom: 4%;
  }

  .dormie-filters input {
    padding: 2%;
  }

  .dropdown-content label:hover {
    color: #9f86c0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .filter-btn:active .dropdown-content {
    display: block;
  }

  .dorm-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 351px)/*351px 351px 351px repeat(auto-fit, minmax(351px, 1fr)) */;
    grid-template-rows: 1fr repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    gap: 30px 25px;
    padding: 2%;
  }

  .dorm-grid h1 {
    grid-column: 1;
    justify-self: start;
  }

  .dorm-grid #searchbar {
    grid-column: 1/-1;
  }

  .dorm-grid #search {
    border-radius: 5px;
    width: 100%;
    padding: 2%;
    font-size: 1rem;
    height: 100%;
  }

  .dorm-grid input {
    font-size: 1rem;
    padding-left: 2%;
  }

  .dorm-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 1fr 1fr 1fr 1fr;
    border-radius: 1%;
    border: 1px solid #a6a6a6;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
	padding: 2%;
	gap: 2%;
  }

  .dorm-card .dorm-pic {
	grid-column: 1 / -1;
	grid-row: 1;
  }

  .dorm-pic img {
	width: 100%;
  }

  .dorm-card:hover {
    box-shadow: 0px 0px 10px 1px #000;
  }

  .dorm-name {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1%;
    padding-top: 0.5%;
	grid-column: 1;
	grid-row: 2;
  }

  .dorm-loc {
    font-size: 0.9rem;
	font-weight: normal;
	grid-column: 2;
	grid-row: 2;
	justify-self: flex-end;
  }

  .dorm-loc i {
	color:#9f86c0;
  }

  .dorm-bedroom-movein {
    font-size: 0.8rem;
    color: #a6a6a6;
    grid-column: 1 / -1;
    grid-row: 3;
    align-self: center;
    padding: 0;
  }

  .dorm-tags {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .dorm-tags .dorm-tag {
    background-color: #9F86C0;
    color: white;
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 0;
    margin-right: 2%;
    margin-bottom: 3%;
  }

  .dorm-tag:hover{
	  background-color: #a6a6a6;
  }

  .dorm-tag-more{
    background-color: white;
    color: #a6a6a6;
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3%;
  }

  .dorm-tag-more:hover{
	background-color: #a6a6a6;
	color: white;
  }

  .dorm-budget {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1%;
    padding-bottom: 0.5%;
	grid-column: 1;
	grid-row: 5;
  }

  .dorm-slot {
    font-size: 0.9rem;
	grid-column: 2;
	grid-row: 5;
	justify-self: flex-end;
  }

  @media screen and (max-width: 759px) {
    .dorm-grid .filters {
      flex-direction: column;
      display: flex;
      grid-column: 1 / -1;
      justify-content: space-between;
      padding: 0;
      flex: 100%;
    }
  
    .dorm-grid .filter-btn {
      width: 100%;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
      padding-right: 2vw;
      padding-left: 2vw;
      margin: 1%;
      border: none;
      text-align: start;
      background-color: #d9d9d9;
      border-radius: 5px;
      font-size: 1rem;
    }

    .dorm-grid h1 {
      grid-column: 1 / -1;
    }

    .dorm-grid #search {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }