@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  :root {
    --font-family: 'Poppins', sans-serif
    font-size: 14px;
  }

  * {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }


/* FOOTER CSS */
.footer-container {
    background-color: #d9d9d9;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    display: grid;
    /*grid-template-columns: clamp(100px, 50%, 500px) 2fr 2fr 2fr;*/
    grid-template-columns: clamp(50%, 100px, 150%) 2fr 2fr;
    grid-template-rows: clamp(0.5fr, 50%, 1fr) 5fr 1fr;
    justify-items: start;
  }

  .footer-title {
    color:#000;
    font-size: 1.14rem /*calc(9px + 0.390625vw)*/;
    padding-bottom: 5%;
  }

  .footer-link {
    font-size: 1rem/*calc(7px + 0.390625vw)*/;
    justify-self: stretch;
    padding-bottom: 8%;
    border-bottom: 2px white solid;
  }

  .footer-link ul {
    list-style-type: none;
    padding-left: 0;
  }

  .footer-link ul li {
    padding-bottom: 6%;
    color:#a6a6a6;
  }

  .footer-link p {
    padding-right: clamp(25%, 50px, 50%);
    text-align: justify;
  }

  .footer-link a {
    color:#a6a6a6;
  }

  .footer-link a:hover {
    color: #9f86c0;
    text-decoration: none;
    opacity: 50%;
  }

  .footer-copyright {
    padding-top: 5%;
    grid-column: 1;
    grid-row: 3;
    font-size: clamp(50%, 14px, 100%);
    color: #a6a6a6;
    place-self: center start;
  }

  .footer-icons {
    padding-top: 5%;
    grid-column: 2 / span 2;
    grid-row: 3;
    place-self: center end;
  }

  .icon-link {
    color:#9f86c0;
    text-decoration: none;
    font-size: 2vw;
  }

  @media screen and (max-width: 799px) {
      .footer-title {
        font-size: 0.75rem;
      }
    
      .footer-link {
        font-size: 0.6rem;
      }

      .footer-link a {
        font-size: 0.6rem;
      }

      .footer-link p {
        padding-right: 5%;
      }
    
      .footer-copyright {
        font-size: 0.6rem;
      }
    
      .footer-icons {
        font-size: 1rem;
      }
    
    }