@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

/* MAIN GRID (header - content - footer) */
#maingrid {
    display: grid;
    width: 100%;
    grid-template-areas: "head head"
                         "cont cont"
                         "foot foot";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#maingrid > #header {
grid-area: head;
}

#maingrid > #content {
grid-area: cont;
}

#maingrid > #sidebar {
grid-area: side;
}

#maingrid > #footer {
grid-area: foot;
}

.main{
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 0px 5%; 
}

.upper_text{
    width: 100%;
    padding: 75px;
}

h1{
    text-align: center;
    font-weight: normal;
}

#how-it-works{
    text-align: center;
}

#how-it-works a{
    color: #9F86C0;
    font-size: 14px;
}

#how-it-works a:hover{
    color: black;
    text-decoration: underline;
}

.search_section{
    margin-bottom: 50px;
}

#search_label{
    font-size: 16px;
}

#search_bar{
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #a6a6a6;
    background-color: #D9D9D9;
}

#search_btn{
    background-color: #9F86C0;
    font-size: 16px;
    padding: 12px 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#search_btn:hover{
    background-color: #a6a6a6;
    color:white;
}

table{
    width: 40%;
    color: #9F86C0;
}

th{
    font-weight: 750;
    font-size: 25px;
    text-align: left;
}

td{
    font-size: 16px;
}

.stats_section, .featured_dorms, .available_dormies, .dormie_features, .testimonials{
    margin-bottom: 90px;
}

.title_txt{
    font-size: 24px;
    margin-bottom: 20px;
}

#features, #user_testimonials{
    text-align: center;
}

.subtext{
    text-align: center;
    font-size: 16px;
}

.dorm-container, .dormie-container, .features-container, .testimonials-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ftd_dorms .dorm{
    width: 30%; 
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
}

#ftd_dorms .dorm img, #avl_dormie .dormie img{
    width: 100%;
    border-radius: 5px;
}

.desc h3 a{
    font-size: 16px;
    font-weight: bold;
}

.desc h3 a:hover{
    color:#9F86C0;
}

.desc .amenities span, .desc .sex_dept{
    font-size: 12px;
    color: #a6a6a6;
}

.desc .tags .dorm_tag{
    background-color: #9F86C0;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px 3px;
    border-radius: 3px;
}

.desc .tags .dorm_tag:hover{
    background-color: #a6a6a6;
}

#dorm_tag_more{
    background-color: white;
    color: #a6a6a6;
}

#dorm_tag_more:hover{
    background-color: #a6a6a6;
    color: white;
}

#dorm_price, #dormie_budget{
    margin-top: 20px;
    font-size: 18px;
}

#avl_dormie .dormie{
    width: 30%; 
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
}

#dormie_feat .feature{
    width: 28%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 10px 18px #9F86C0;
}

#dormie_feat .feature img{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 30%;
    border-radius: 200px;
}

#feat_1, #feat_3{
    margin-top: 130px;
}

#dormie_feat .feature .desc h3{
    margin-bottom: 20px;
}

#dormie_feat .feature .desc p{
    margin-bottom: 20px;
}

#learn_more{
    margin-bottom: 20px;
}

#learn_more a{
    color:#9F86C0;
}

#learn_more a:hover{
    color: black;
    font-weight: 700;
}

#st_testim{
    margin-bottom: 50px;
}

#dormie_testim .testim{
    margin-top: 25px;
    width: 49%;
    min-width: 250px;
    padding: 25px 12px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
}

.testim .review p{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.testim .user_label{
    padding:20px;
}

#user_pic{
    width: 80px;
    float: left;
    margin-right: 20px;
}

.testim .user_label h3{
    margin-top: 10px;
    color: #9F86C0;
}

.testim .user_label span{
    font-size: 12px;
    color: black;
}

