@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header li, a, button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav {
    width: inherit;
}

.logo{
    cursor: pointer;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 2%;
    margin-right: 3%;
}

.nav__links{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
    color: #9F86C0;
}


button {
    padding: 10px 15px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px;
    border: none;
    text-align: center;
    white-space: nowrap;
}

.btnGroup {
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.create_listing{
    background-color: #9F86C0;
    color: white;
}

.create_listing:hover{
    background-color: #A6A6A6;
    color: black;
}


.log_in:hover{
    background-color: #D9D9D9;
    color:black;
}

.sign_up{
    background-color: black;
    color: white;
}

.sign_up:hover{
    background-color: #D9D9D9;
    color:black;
}

#check{
    display: none;
}

#hamburger {
    margin-right: 35%;
    align-self: center;
    font-size: 30px;
    color: #9F86C0;
    line-height: 80px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}

#hamburger:hover{
    color:#A6A6A6;
}

/* Side Nav */
/* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #9F86C0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    align-items: start;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #D9D9D9;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #A6A6A6;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* On smaller screens, where height is less than 799px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 799px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #navSmallLinks,  #navSmallNoAcc, #navSideAcc, #navSignedIn {
    visibility: hidden;
    height: 0;
  }